# -------------------------------------------------------------------------
# 本文件乃配置文件模板，请在可执行文件根目录下新建一个config.toml文件作为配置文件
# -------------------------------------------------------------------------

# 是否开发环境
development=true

# 日志配置
[logger]
level="DEBUG" # 输出级别 - DEBUG|INFO|WARN|ERROR
httpLogTags="method,host,uri,status,remote_ip" # http请求日志字段


# 数据库配置
[databases]
    [databases.main]
    host="127.0.0.1"
    dbname="test"
    user="test"
    password="123456"
    port=3306

# redis配置
[redis]
host="127.0.0.1"
port=6379
key_prefix=""
db=0
